NEXT_PUBLIC_SITE_URL=https://odontoestetica.net
NEXT_PUBLIC_SANITY_PROJECT_ID=uftvozob
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-09-01
SANITY_API_READ_TOKEN=sksU5s60f257GnbWNUJxInSKLiLgNBcnwKxMdqr3xWzly1Japt41QWcbQhicRwpP0OsSjQdDV4uhZV8gvvm8BRzdr9Teb2x1FscorV1HdliNInOkYIL8v3xpg8kPfqOEoxRT32azfsMQChigQuMMNyGSoj3zTg40yZyrrhvfLcChqXRLjk6R
SANITY_API_WRITE_TOKEN=sksU5s60f257GnbWNUJxInSKLiLgNBcnwKxMdqr3xWzly1Japt41QWcbQhicRwpP0OsSjQdDV4uhZV8gvvm8BRzdr9Teb2x1FscorV1HdliNInOkYIL8v3xpg8kPfqOEoxRT32azfsMQChigQuMMNyGSoj3zTg40yZyrrhvfLcChqXRLjk6R
SANITY_REVALIDATE_SECRET=
NEXT_PUBLIC_GA4_ID=G-XDF4SR2HHE
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-18172036856
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_LABEL=pfKdCIrUmq8cEPiNjdlD
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_CLARITY_ID=
